<div class="lib-maps container-fluid">
    <div class="row">
        <div class="table-responsive col-md-5">
            <table class="table">
                <tr ng-repeat="items in $ctrl.map">
                    <!-- <td>{{items}}</td> -->
                    <td ng-repeat="item in $ctrl.itemInArray(items) track by $index">
                        <img ng-src="{{item.image}}" alt="{{item}}">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-7">
            <h3>Informations complémentaires</h3>

        </div>
    </div>
</div>
