<div class="container">
    <table class="table table-bordered">
        <tr>
            <th class="col-md-6">World</th>
            <th class="col-md-1">TailleX</th>
            <th class="col-md-1">TailleY</th>
            <th class="col-md-1">Timer</th>
            <th class="col-md-3"></th>
        </tr>
        <tr ng-repeat="item in $ctrl.list" ng-click="$ctrl.consult(item)">
            <td>{{item.name}}</td>
            <td>{{item.tailleX}}</td>
            <td>{{item.tailleY}}</td>
            <td>{{item.timer}}</td>
            <td>
                <input class="btn btn-warning" type="button" value="Supprimer" ng-click="$ctrl.deleteWorld(item)">
            </td>
        </tr>
    </table>
    <div>
    <input class="btn btn-default" type="button" value="New World" ng-click="$ctrl.newWorld()">

</div>
