<div class="container">

  <h2 ng-if>Création d'une nouvelle grille</h2>

  <form class="form-horizontal col-sm-8">

      <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Nom</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="name" ng-model="grille.name"></input>
          </div>
      </div>

      <div class="form-group">
          <label for="taille" class="col-sm-2 control-label">Taille</label>
          <div class="col-sm-3">
              <input type="number" class="form-control" id="taille.x" ng-model="grille.taille.x"></input>
          </div>
          <div class="col-sm-1">*</div>
          <div class="col-sm-3">
              <input type="number" class="form-control" id="taille.y" ng-model="grille.taille.y"></input>
          </div>
      </div>

      <div class="form-group">
          <label for="contenu"></label>
          <div>
              <div class="checkbox">
                  <label for="plaine" class="checkbox-inline">
                      <input type="checkbox" ng-model="contenu.plaine"></input>
                      Plaine
                  </label>
              </div>
              <div class="checkbox">
                  <label for="desert" class="checkbox-inline">
                      <input type="checkbox" ng-model="contenu.desert"></input>
                      Désert
                  </label>
              </div>
              <div class="checkbox">
                  <label for="foret" class="col-sm-2">
                      <input type="checkbox" ng-model="contenu.foret"></input>
                      Forêt
                  </label>
              </div>
              <div class="checkbox">
                  <label for="eau" class="col-sm-2">
                      <input type="checkbox" ng-model="contenu.eau"></input>
                      Eau
                  </label>
              </div>
              <div class="checkbox">
                  <label for="marais" class="col-sm-2">
                      <input type="checkbox" ng-model="contenu.marais"></input>
                      Marais
                  </label>
              </div>
              <div class="checkbox">
                  <label for="montagne" class="col-sm-2">
                      <input type="checkbox" ng-model="contenu.montagne"></input>
                      Montagne
                  </label>
              </div>
          </div>
      </div>

  </form>

</div>
